{% extends "base.html" %}
{% block content %}
{% load static %}

    <!-- BEGIN #product -->
    <div id="product" class="section-container p-t-20">
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN breadcrumb -->
            <ul class="breadcrumb m-b-10 f-s-12">
                <li><a href="#">Home</a></li>
                <li><a href="#">Mobile Phone</a></li>
                <li><a href="#">Apple</a></li>
                <li class="active">iPhone 6S Plus</li>
            </ul>
            <!-- END breadcrumb -->

            <!-- BEGIN product -->
            <div class="product">
            <!-- BEGIN product-detail -->
                <div class="product-detail row">
                    <!-- Product Images -->
                    <div class="col-md-6">
                        <div class="product-image">
                            <!-- Thumbnails -->
                            <div class="product-thumbnail">
                                <ul class="product-thumbnail-list">
                                {% for img in product.slider_image.all %}
                                    <li {% if forloop.first %}class="active"{% endif %}>
                                    <a href="#" data-click="show-main-image" data-url="{{ img.url }}">
                                        <img src="{{ img.url }}" alt="{{ product.name }}" />
                                    </a>
                                    </li>
                                {% empty %}
                                    <li class="active">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                            <!-- Main Image -->
                            <div class="product-main-image" data-id="main-image">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            </div>
                        </div>
                    </div>

                    <!-- Product Info -->
                    <div class="col-md-6">
                        <div class="product-info">
                            <h1 class="product-title">
                                {% if product.is_discounted %}
                                <span class="label label-success">{{ product.discount }}% OFF</span>
                                {% endif %}
                                {{ product.name }} {% if product.subtitle %}({{ product.subtitle }}){% endif %} 
                                {% if product.color %}{{ product.color }}{% endif %} - SKU: {{ product.sku }}
                            </h1>

                            <ul class="product-category">
                                <li><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></li>
                                <li>/</li>
                                <li><a href="{{ product.brand.get_absolute_url }}">{{ product.brand.name }}</a></li>
                            </ul>

                            <!-- Warranty and Stock -->
                            <div class="product-warranty">
                                <div class="pull-right">
                                    Availability: {% if product.stock > 0 %}In Stock{% else %}Out of Stock{% endif %}
                                    </div>
                                    <div>
                                    <b>{{ product.warranty_years }} Year{% if product.warranty_years > 1 %}s{% endif %}</b>
                                    {{ product.warranty_info }}
                                </div>
                            </div>

                            <!-- Product Features / Description -->
                            <ul class="product-info-list">
                                {% if product.description %}
                                <li><i class="fa fa-circle"></i> {{ product.description }}</li>
                                {% endif %}
                                {% for feature in product.features.all %}
                                <li><i class="fa fa-circle"></i> {{ feature.text }}</li>
                                {% endfor %}
                            </ul>

                            <!-- Social Buttons -->
                            <div class="product-social">
                                <ul class="list-inline">
                                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                                    <li><a href="#" class="tumblr"><i class="fa fa-tumblr"></i></a></li>
                                </ul>
                            </div>

                            <!-- Purchase Section -->
                            <div class="product-purchase-container">
                                {% if product.is_discounted %}
                                    <div class="product-discount">
                                        <span class="discount">${{ product.price }}</span>
                                    </div>
                                    <div class="product-price">
                                        <div class="price">${{ product.discount_price }}</div>
                                    </div>
                                {% else %}
                                    <div class="product-price">
                                        <div class="price">${{ product.price }}</div>
                                    </div>
                                {% endif %}
                                <div class="row align-items-center">
                                    <div class="col-md-3">Quantity:</div>
                                        <div class="col-md-3">
                                            <select class="form-control input-sm" id="qty-cart">
                                                {% for i in "12345" %}
                                                    <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                <br>
                                <button class="btn btn-inverse btn-lg" type="button" value="{{ product.id }}" id="add-cart">
                                    Add to Cart
                                </button>
                                <a href="{% url 'home' %}" class="btn btn-inverse btn-lg">Back to Home</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END product-detail -->

                <!-- BEGIN product-tab -->
                <div class="product-tab">
                    <ul id="product-tab" class="nav nav-tabs">
                        <li class="active"><a href="#product-desc" data-toggle="tab">Product Description</a></li>
                        <li><a href="#product-info" data-toggle="tab">Additional Information</a></li>
                        <li><a href="#product-reviews" data-toggle="tab">Rating & Reviews ({{ product.reviews.count }})</a></li>
                    </ul>

                    <div id="product-tab-content" class="tab-content">

                        <!-- Product Description Tab -->
                        <div class="tab-pane fade active in" id="product-desc">
                            {% for feature in product.descriptions.all %}
                                <div class="product-desc {% if forloop.counter|divisibleby:2 %}right{% endif %}">
                                    {% if feature.image %}
                                    <div class="image">
                                        <img src="{{ feature.image.url }}" alt="{{ feature.title }}" />
                                    </div>
                                    {% endif %}
                                    <div class="desc">
                                        <h4>{{ feature.title }}</h4>
                                        <p>{{ feature.desc }}</p>
                                    </div>
                                </div>
                            {% empty %}
                                <p>No product features added yet.</p>
                            {% endfor %}
                        </div>

                        <!-- Additional Information Tab -->
                        <div class="tab-pane fade" id="product-info">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th>Field</th>
                                        <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for info in product.additional_info.all %}
                                        <tr>
                                            <td>{{ info.field }}</td>
                                            <td>{{ info.value|linebreaksbr }}</td>
                                        </tr>
                                        {% empty %}
                                            <tr><td colspan="2">No additional information available.</td></tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Reviews Tab -->
                        <div class="tab-pane fade" id="product-reviews">
                            <div class="row">
                                <!-- Existing Reviews -->
                                <div class="col-md-7">
                                    {% for review in product.reviews.all %}
                                        <div class="review">
                                            <div class="review-info">
                                                <div class="review-rate">
                                                    <ul class="review-star">
                                                        {% for i in star_range %}
                                                            <li class="{% if i <= review.rating %}active{% endif %}">
                                                                <i class="fa {% if i <= review.rating %}fa-star{% else %}fa-star-o{% endif %}" style="color: {% if i <= review.rating %}#FFD700{% else %}#ccc{% endif %};"></i>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                    ({{ review.rating }}/5)
                                                </div>
                                                <div class="review-name">{{ review.name }}</div>
                                                <div class="review-date">{{ review.created_at|date:"d/m/Y H:i" }}</div>
                                            </div>
                                            <div class="review-title">{{ review.title }}</div>
                                            <div class="review-message">{{ review.message }}</div>
                                        </div>
                                    {% empty %}
                                        <p>No reviews yet.</p>
                                    {% endfor %}
                                </div>

                                <!-- Review Form -->
                                <div class="col-md-5">
                                    <div class="review-form">
                                        <h2>Write a Review</h2>
                                        <form method="POST" action="">
                                            {% csrf_token %}
                                            {{ form.non_field_errors }}

                                            <div class="form-group">
                                                <label for="{{ form.name.id_for_label }}">Name <span class="text-danger">*</span></label>
                                                {{ form.name}}
                                                {{ form.name.errors }}
                                            </div>
                                            <div class="form-group">
                                                <label for="{{ form.title.id_for_label }}">Title <span class="text-danger">*</span></label>
                                                {{ form.title }}
                                                {{ form.title.errors }}
                                            </div>
                                            <div class="form-group">
                                                <label for="{{ form.message.id_for_label }}">Review <span class="text-danger">*</span></label>
                                                {{ form.message }}
                                                {{ form.message.errors }}
                                            </div>
                                            <div class="form-group">
                                                <label>Rating <span class="text-danger">*</span></label>
                                                <div id="star-rating" class="rating">
                                                    {% for i in star_range %}
                                                        <i class="fa fa-star-o star" data-value="{{ i }}" style="cursor:pointer; font-size:24px; color:#ccc;"></i>
                                                    {% endfor %}
                                                </div>
                                                <input type="hidden" name="rating" id="rating" value="0">
                                            </div>

                                            <button type="submit" class="btn btn-inverse btn-lg">Submit Review</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BEGIN similar-product -->
            <h4 class="m-b-15 m-t-30">You Might Also Like</h4>
            <div class="row row-space-10">
                {% for item in similar_products %}
                <div class="col-md-2 col-sm-4">
                    <div class="item item-thumbnail">
                    <a href="{% url 'product_detail' item.id %}" class="item-image">
                        <img src="{{ item.image.url }}" alt="{{ item.name }}" />
                        {% if item.is_discounted %}
                        <div class="discount">{{ item.discount }}% OFF</div>
                        {% endif %}
                    </a>
                    <div class="item-info">
                        <h4 class="item-title">
                        <a href="{% url 'product_detail' item.id %}">{{ item.name|truncatechars:28 }}<br>{{ item.subtitle }}</a>
                        </h4>
                        <p class="item-desc">{{ item.description|truncatechars:40 }}</p>
                        <div class="item-price">${{ item.price }}</div>
                        {% if item.is_discounted %}
                        <div class="item-discount-price">
                            ${{ item.discount_price }}
                        </div>
                        {% endif %}
                    </div>
                    </div>
                </div>
                {% empty %}
                <p class="text-muted">No similar products found.</p>
                {% endfor %}
            </div>
            <!-- END similar-product -->
        </div>
    </div>

<script>
    const stars = document.querySelectorAll('#star-rating .star');
    const ratingInput = document.getElementById('rating');

    stars.forEach(star => {
        star.addEventListener('click', function() {
            const value = this.getAttribute('data-value');
            ratingInput.value = value;

            stars.forEach(s => {
                if (s.getAttribute('data-value') <= value) {
                    s.classList.remove('fa-star-o');
                    s.classList.add('fa-star');
                    s.style.color = '#FFD700';
                } else {
                    s.classList.remove('fa-star');
                    s.classList.add('fa-star-o');
                    s.style.color = '#ccc';
                }
            });
        });
    });


$(document).on("click", '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: "POST",
        url: "{% url 'cart_add' %}",
        data: {
        product_id: $('#add-cart').val(),
        product_qty: $('#qty-cart option:selected').text(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: 'post'
        },
        success: function (json) {
        //console.log(json);
        document.getElementById('cart_quantity').textContent = json.qty
        },
        error: function (xhr, errmsg, error) {
        },
    });
    });
    
   
</script>

{% endblock content%}