{% extends "base.html" %}
{% block content %}
{% load static %}

      <!-- BEGIN #checkout-payment -->
      <div class="section-container" id="checkout-payment">
        <!-- BEGIN container -->
        <div class="container">
          <!-- BEGIN checkout -->
          <div class="checkout">
            <form action="{% url 'checkout_complete' %}" method="POST" name="form_payment" class="form-horizontal">
              {% csrf_token %}
              <!-- BEGIN checkout-header -->
              <div class="checkout-header">
                <!-- BEGIN row -->
                <div class="row">
                  <!-- BEGIN col-3 -->
                  <div class="col-md-3 col-sm-3">
                    <div class="step">
                      <a href="{% url 'checkout_cart' %}">
                        <div class="number">1</div>
                        <div class="info">
                          <div class="title">Order Summary</div>
                          <div class="desc">Lorem ipsum dolor sit amet.</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- END col-3 -->
                  <!-- BEGIN col-3 -->
                  <div class="col-md-3 col-sm-3">
                    <div class="step">
                      <a href="{% url 'checkout_info' %}">
                        <div class="number">2</div>
                        <div class="info">
                          <div class="title">Shipping Address</div>
                          <div class="desc">Vivamus eleifend euismod.</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- END col-3 -->
                  <!-- BEGIN col-3 -->
                  <div class="col-md-3 col-sm-3">
                    <div class="step active">
                      <a href="{% url 'checkout_payment' %}">
                        <div class="number">3</div>
                        <div class="info">
                          <div class="title">Payment</div>
                          <div class="desc">Aenean ut pretium ipsum.</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- END col-3 -->
                  <!-- BEGIN col-3 -->
                  <div class="col-md-3 col-sm-3">
                    <div class="step">
                      <a href="{% url 'checkout_complete' %}">
                        <div class="number">4</div>
                        <div class="info">
                          <div class="title">Complete Payment</div>
                          <div class="desc">Curabitur interdum libero.</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- END col-3 -->
                </div>
                <!-- END row -->
              </div>
              <!-- END checkout-header -->
              <!-- BEGIN checkout-body -->
              <div class="checkout-body container">
                <div class="form-group row">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"><b>Choose a Payment Method</b></h4>
                      </div>
                      <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">
                                Cardholder Name <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-4">
                                {{ Billing_form.cardholder }}
                                {{ Billing_form.cardholder.errors }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">
                                Card Number <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-4">
                                {{ Billing_form.cardnumber }}
                                {{ Billing_form.cardnumber.errors }}
                            </div>
                        </div>

                        <!-- Payment Types -->
                        <div class="form-group">
                            <label class="col-md-4 control-label">
                                Payment Types <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-8">
                                {% comment %} <ul class="list-inline payment-type">
                                    <li onclick="setPayment('paypal')"><i class="fa fa-cc-paypal"></i></li>
                                    <li onclick="setPayment('visa')"><i class="fa fa-cc-visa"></i></li>
                                    <li onclick="setPayment('mastercard')"><i class="fa fa-cc-mastercard"></i></li>
                                    <li onclick="setPayment('discover')"><i class="fa fa-cc-discover"></i></li>
                                </ul> {% endcomment %}
                                {{ Billing_form.payment_type }}
                                <ul class="list-inline payment-type">
                                    <li><a href="#" data-click="set-payment" data-value="Paypal" data-payment="paypal" data-toggle="tooltip" data-title="Paypal" data-placement="top" data-trigger="hover"><i class="fa fa-cc-paypal"></i></a></li>
                                    <li><a href="#" data-click="set-payment" data-value="Visa" data-payment="visa" data-toggle="tooltip" data-title="Visa" data-placement="top" data-trigger="hover"><i class="fa fa-cc-visa"></i></a></li>
                                    <li><a href="#" data-click="set-payment" data-value="Master Card" data-payment="mastercard" data-toggle="tooltip" data-title="Master Card" data-placement="top" data-trigger="hover"><i class="fa fa-cc-mastercard"></i></a></li>
                                    <li><a href="#" data-click="set-payment" data-value="Credit Card" data-payment="discover" data-toggle="tooltip" data-title="Credit Card" data-placement="top" data-trigger="hover"><i class="fa fa-cc-discover"></i></a></li>
                                </ul>

                                <input type="hidden" name="payment_type" id="payment_type">
                            </div>
                        </div>

                        <!-- Expiry -->
                        <div class="form-group">
                            <label class="col-md-4 control-label">
                                Expiration Date <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-xs-5">{{ Billing_form.mm }}</div>
                                    <div class="col-xs-2 text-center">
                                      <div class="text-muted p-t-5 m-t-2">/</div>
                                    </div>
                                    <div class="col-xs-5">{{ Billing_form.yy }}</div>
                                </div>
                            </div>
                        </div>

                        <!-- CVC -->
                        <div class="form-group">
                            <label class="col-md-4 control-label">
                                CVV <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-2">
                                {{ Billing_form.cvv }}
                                {{ Billing_form.cvv.errors }}
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>


              <div class="checkout-body container">
                <div class="form-group row">
                  <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-info item item-thumbnail">
                      <div class="panel-heading">
                        <h4 class="panel-title">Order Summary</h4>
                      </div>
                      <div class="panel-body">
                        <!-- Your content here -->
                         {% for item in cart_items %}
                          {{ item.product.name }}
                              {% if item.product.is_sale %}
                                  ${{ item.product.sale_price }}
                              {% else %}
                                  ${{ item.product.price }}
                              {% endif %}
                              <br>
                              <small>Quantity:
                                {{ item.qty }}
                              </small>
                              <br><br>
                          {% endfor %}
                          Total: ${{ totals.total }}
                          <br><br>
                          <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline btn-secondary">Update Items</a>
                      </div>
                    </div>
                    <br><br>
                    <div class="panel panel-success item item-thumbnail">
                      <div class="panel-heading">
                        <h4 class="panel-title">Shipping Info</h4>
                      </div>
                      <div class="panel-body">
                        <!-- Your content here -->
                        First Name: {{ shipping_info.first_name }}<br>
                        Last Name: {{ shipping_info.last_name }}<br>
                        Email: {{ shipping_info.email }}<br>
                        company_name: {{ shipping_info.company_name }}<br>
                        Phone: {{ shipping_info.primary_phone }}<br>
                        Area Code: {{ shipping_info.area_code }}<br>
                        Address : {{ shipping_info.address_1 }}<br>
                         {{ shipping_info.address_2 }}<br>
                        City: {{ shipping_info.city }}<br>
                        State: {{ shipping_info.state }}<br>
                        Zipcode: {{ shipping_info.zipcode }}<br>
                        Country: {{ shipping_info.country }}<br>
                        <br>
                        <a href="{% url 'checkout_info' %}" class="btn btn-outline btn-secondary">Update Shipping</a>
                      </div>
                    </div>
                  </div>
                  <br><br>
                </div>
              </div>
              <!-- END checkout-body -->
              <!-- BEGIN checkout-footer -->
              <div class="checkout-footer">
                <a
                  href="{% url 'checkout_info' %}"
                  class="btn btn-white btn-lg pull-left"
                  >Back</a
                >
                <button type="submit" class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10"
                >Proceed</button>
              </div>
              <!-- END checkout-footer -->
            </form>
          </div>
          <!-- END checkout -->

          <h4 class="checkout-title m-t-30 m-b-15">
            Payment Frequently Asked Questions
          </h4>
          <!-- BEGIN checkout-question-list -->
          <div class="row checkout-question-list" id="checkout-faq">
            <!-- BEGIN col-6 -->
            <div class="col-md-6">
              <div class="clearfix">
                <div class="question">
                  <a
                    href="#checkout-faq-1"
                    class="collapsed"
                    data-toggle="collapse"
                    data-parent="#checkout-faq"
                  >
                    <span class="dash">-</span> Is my Credit Card / Debit Card
                    details protected?
                  </a>
                </div>
                <div class="answer collapse in" id="checkout-faq-1">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                  hendrerit, felis vel tincidunt sodales, urna metus rutrum leo,
                  sit amet finibus velit ante nec lacus. Cras erat nunc,
                  pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien
                  ultricies, gravida ante ut, ultrices nunc.
                </div>
              </div>
              <div class="clearfix m-t-10">
                <div class="question">
                  <a
                    href="#checkout-faq-2"
                    class="collapsed"
                    data-toggle="collapse"
                    data-parent="#checkout-faq"
                  >
                    <span class="dash">-</span> Can I use a Debit Card to make
                    payment??
                  </a>
                </div>
                <div class="answer collapse in" id="checkout-faq-2">
                  Curabitur vitae venenatis odio, eget molestie mauris. Nullam
                  vitae turpis at mi consequat rutrum quis quis mi. Vestibulum
                  imperdiet neque non libero condimentum, quis sodales magna
                  molestie. Interdum et malesuada fames ac ante ipsum primis in
                  faucibus.
                </div>
              </div>
              <div class="clearfix m-t-10">
                <div class="question">
                  <a
                    href="#checkout-faq-3"
                    class="collapsed"
                    data-toggle="collapse"
                    data-parent="#checkout-faq"
                  >
                    <span class="dash">-</span> Credit Card/Debit Card
                    transaction keep failing. Why?
                  </a>
                </div>
                <div class="answer collapse in" id="checkout-faq-3">
                  Cras malesuada mi quis purus pharetra egestas. Curabitur
                  auctor sapien est, eu porttitor velit ornare in. Fusce porta
                  suscipit diam at placerat. Donec lobortis iaculis accumsan. Ut
                  semper felis vel nisi aliquam facilisis.
                </div>
              </div>
            </div>
            <!-- END col-6 -->
            <!-- BEGIN col-6 -->
            <div class="col-md-6">
              <div class="clearfix">
                <div class="question">
                  <a
                    href="#checkout-faq-4"
                    class="collapsed"
                    data-toggle="collapse"
                    data-parent="#checkout-faq"
                  >
                    <span class="dash">-</span> Did not receive the Pin Code on
                    my mobile?
                  </a>
                </div>
                <div class="answer collapse in" id="checkout-faq-4">
                  Duis gravida sem eu arcu efficitur, laoreet egestas nibh
                  posuere. Pellentesque suscipit tincidunt porttitor. Aliquam
                  vitae massa vel justo lobortis posuere. Nulla tempor enim at
                  auctor dignissim. Aenean sit amet venenatis odio.
                </div>
              </div>
              <div class="clearfix m-t-10">
                <div class="question">
                  <a
                    href="#checkout-faq-5"
                    class="collapsed"
                    data-toggle="collapse"
                    data-parent="#checkout-faq"
                  >
                    <span class="dash">-</span> My credit card has been charged,
                    but my order shows failed?
                  </a>
                </div>
                <div class="answer collapse in" id="checkout-faq-5">
                  Nunc consectetur tellus libero, at tempor dolor scelerisque
                  id. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nunc feugiat ligula vitae tincidunt sagittis. Etiam congue
                  ligula purus, ut fringilla ante interdum eu.
                </div>
              </div>
            </div>
            <!-- END col-6 -->
          </div>
          <!-- END checkout-question-list -->
        </div>
        <!-- END container -->
      </div>
      <!-- END #checkout-payment -->

<script>
document.querySelectorAll('.payment-type a').forEach(el => {
    el.addEventListener('click', function(e) {
        e.preventDefault();

        // remove active from all
        document.querySelectorAll('.payment-type li')
            .forEach(li => li.classList.remove('active'));

        // activate clicked
        this.parentElement.classList.add('active');

        // set hidden input
        document.getElementById('payment_type').value =
            this.dataset.payment;
    });
});
</script>

{% endblock content %}
      