{% extends "base.html" %}
{% block content %}
{% load static %}

      <!-- BEGIN #checkout-payment -->
      <div class="section-container" id="checkout-info">
        <!-- BEGIN container -->
        <div class="container">
          <!-- BEGIN checkout -->
          <div class="checkout">
            <form action="{% url 'checkout_payment' %}" method="POST" name="form_shipping" class="form-horizontal">
              {% csrf_token %}
              <!-- BEGIN checkout-header -->
              <div class="checkout-header">
                <!-- BEGIN row -->
                <div class="row">
                  <!-- BEGIN col-3 -->
                  <div class="col-md-3 col-sm-3">
                    <div class="step">
                      <a href="{% url 'checkout_cart' %}">
                        <div class="number">1</div>
                        <div class="info">
                          <div class="title">Order Summary</div>
                          <div class="desc">Lorem ipsum dolor sit amet.</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- END col-3 -->
                  <!-- BEGIN col-3 -->
                  <div class="col-md-3 col-sm-3">
                    <div class="step active">
                      <a href="{% url 'checkout_info' %}">
                        <div class="number">2</div>
                        <div class="info">
                          <div class="title">Shipping Address</div>
                          <div class="desc">Vivamus eleifend euismod.</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- END col-3 -->
                  <!-- BEGIN col-3 -->
                  <div class="col-md-3 col-sm-3">
                    <div class="step">
                      <a href="{% url 'checkout_payment' %}">
                        <div class="number">3</div>
                        <div class="info">
                          <div class="title">Payment</div>
                          <div class="desc">Aenean ut pretium ipsum.</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- END col-3 -->
                  <!-- BEGIN col-3 -->
                  <div class="col-md-3 col-sm-3">
                    <div class="step">
                      <a href="{% url 'checkout_complete' %}">
                        <div class="number">4</div>
                        <div class="info">
                          <div class="title">Complete Payment</div>
                          <div class="desc">Curabitur interdum libero.</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- END col-3 -->
                </div>
                <!-- END row -->
              </div>

              <!-- END checkout-header -->
              <!-- BEGIN checkout-body -->
              <div class="checkout-body container">
                <div class="form-group row">
                  <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-success item item-thumbnail">
                      <div class="panel-heading">
                        <h4 class="panel-title">Order Summary</h4>
                      </div>
                      <div class="panel-body">
                        <!-- Your content here -->
                        {% for item in cart_items %}
                          {{ item.product.name }}
                              {% if item.product.is_sale %}
                                  ${{ item.product.sale_price }}
                              {% else %}
                                  ${{ item.product.price }}
                              {% endif %}
                              <br>
                              <small>Quantity:
                                {{ item.qty }}
                              </small>
                              <br><br>
                          {% endfor %}
                          Total: ${{ totals.total }}
                          <br><br>
                          <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline btn-secondary">Update Items</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                  
              <div class="checkout-body container">
                <div class="form-group row">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"><b>Shipping Information</b></h4>
                      </div>
                      <div class="panel-body">
                        <!-- First Name -->
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                {{ shipping_form.first_name.label }} <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-4">
                                {{ shipping_form.first_name }}
                                {{ shipping_form.first_name.errors }}
                            </div>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                {{ shipping_form.last_name.label }} <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-4">
                                {{ shipping_form.last_name }}
                                {{ shipping_form.last_name.errors }}
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                {{ shipping_form.email.label }} <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-4">
                                {{ shipping_form.email }}
                                {{ shipping_form.email.errors }}
                            </div>
                        </div>

                        <!-- Company Name -->
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                {{ shipping_form.company_name.label }}
                            </label>
                            <div class="col-md-8">
                                {{ shipping_form.company_name }}
                                {{ shipping_form.company_name.errors }}
                            </div>
                        </div>

                        <!-- Area Code -->
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                {{ shipping_form.area_code.label }} <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-4">
                                {{ shipping_form.area_code }}
                                {{ shipping_form.area_code.errors }}
                            </div>
                        </div>

                        <!-- Primary Phone -->
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                {{ shipping_form.primary_phone.label }} <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-4">
                                {{ shipping_form.primary_phone }}
                                {{ shipping_form.primary_phone.errors }}
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                {{ shipping_form.address_1.label }} <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-4">
                                {{ shipping_form.address_1 }}
                                {{ shipping_form.address_2 }}
                                {{ shipping_form.address_1.errors }}
                            </div>
                        </div>

                        <!-- City -->
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                {{ shipping_form.city.label }} <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-4">
                                {{ shipping_form.city }}
                                {{ shipping_form.city.errors }}
                            </div>
                        </div>

                        <!-- State -->
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                {{ shipping_form.state.label }} <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-4">
                                {{ shipping_form.state }}
                                {{ shipping_form.state.errors }}
                            </div>
                        </div>

                        <!-- ZIP Code -->
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                {{ shipping_form.zip_code.label }} <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-4">
                                {{ shipping_form.zip_code }}
                                {{ shipping_form.zip_code.errors }}
                            </div>
                        </div>

                        <!-- Country -->
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                {{ shipping_form.country.label }} <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-4">
                                {{ shipping_form.country }}
                                {{ shipping_form.country.errors }}
                            </div>
                        </div>

                        <!-- Business Address -->
                        <div class="form-group">
                            <label class="control-label col-md-4">&nbsp;</label>
                            <div class="col-md-4">
                                <label class="f-w-500">
                                    {{ shipping_form.business_address }}
                                    {{ shipping_form.business_address.label }}
                                </label>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>

                <hr>
                <div class="m-b-5"><b>Shipping Policy</b></div>
                  <ul class="checkout-info-list">
                    <li>Signature may be required for delivery</li>
                    <li>We do not ship to P.O. boxes</li>
                    <li>
                      Delivery estimates below include item preparation and
                      shipping time
                    </li>
                    <li>We do not ship directly to APO/FPO addresses.</li>
                  </ul>
                </div>
              <br><br>
              <!-- END checkout-body -->
              <!-- BEGIN checkout-footer -->
              <div class="checkout-footer">
                <a
                  href="{% url 'checkout_cart' %}"
                  class="btn btn-white btn-lg pull-left"
                  >Back
                </a>

                <button type="submit" class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10"
                  >Continue
                </button>
              
              </div>
              <!-- END checkout-footer -->
            </form>
          </div>
          <!-- END checkout -->
        </div>
        <!-- END container -->
      </div>
      <!-- END #checkout-info -->
{% endblock content %}
      