{% extends "base.html" %}
{% block content %}
{% load static %}

    <!-- BEGIN #register-cover -->
    <div id="register-cover" class="has-bg section-container">
        <!-- BEGIN cover-bg -->
        <div class="cover-bg">
        <img src="{% static 'assets/img/register-cover.jpg' %}" alt="" />
        </div>
        <!-- END cover-bg -->
        <!-- BEGIN container -->
        <div class="container">
        <!-- BEGIN breadcrumb -->
        <ul class="breadcrumb m-b-10 f-s-12">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="active">Update User Password</li>
        </ul>
        <!-- END breadcrumb -->

        <!-- BEGIN register -->
        <div class="register text-center col-md-4 col-md-offset-4">
            <h1>Update User Password ...</h1>
            <br><br>
            <form action="{% url 'update_password' %}" method="post" class="update-password-form">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary btn-block">Update Password</button>
            </form>
        </div>
        <!-- END register -->
        </div>
        <!-- END container -->
        <br><br><br>
        <br><br><br>
    </div>  
    <!-- END #register-cover -->

{% endblock %}