{% extends "base.html" %}
{% block content %}
{% load static %}

      <!-- BEGIN #checkout-cart -->
      <div class="section-container" id="checkout-cart">
        <!-- BEGIN container -->
        <div class="container">
          <!-- BEGIN checkout -->
          <div class="checkout">
              <!-- BEGIN checkout-header -->
              <div class="checkout-header">
                <!-- BEGIN row -->
                <div class="row">
                  <!-- BEGIN col-3 -->
                  <div class="col-md-3 col-sm-3">
                    <div class="step active">
                      <a href="{% url 'checkout_cart' %}">
                        <div class="number">1</div>
                        <div class="info">
                          <div class="title">Order Summary</div>
                          <div class="desc">Lorem ipsum dolor sit amet.</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- END col-3 -->
                  <!-- BEGIN col-3 -->
                  <div class="col-md-3 col-sm-3">
                    <div class="step">
                      <a href="{% url 'checkout_info' %}">
                        <div class="number">2</div>
                        <div class="info">
                          <div class="title">Shipping Address</div>
                          <div class="desc">Vivamus eleifend euismod.</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- END col-3 -->
                  <!-- BEGIN col-3 -->
                  <div class="col-md-3 col-sm-3">
                    <div class="step">
                      <a href="{% url 'checkout_payment' %}">
                        <div class="number">3</div>
                        <div class="info">
                          <div class="title">Payment</div>
                          <div class="desc">Aenean ut pretium ipsum.</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- END col-3 -->
                  <!-- BEGIN col-3 -->
                  <div class="col-md-3 col-sm-3">
                    <div class="step">
                      <a href="{% url 'checkout_complete' %}">
                        <div class="number">4</div>
                        <div class="info">
                          <div class="title">Complete Payment</div>
                          <div class="desc">Curabitur interdum libero.</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- END col-3 -->
                </div>
                <!-- END row -->
              </div>
              <!-- END checkout-header -->
              <!-- BEGIN checkout-body -->
              <div class="checkout-body">
                <div class="table-responsive">
                  <table class="table table-cart">
                    <thead>
                      <tr>
                          <th>Product Name</th>
                          <th class="text-center">Price (each)</th>
                          <th class="text-center">Quantity</th>
                          <th class="text-center">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in cart_items %}
                      <tr>

                          <td class="cart-product">
                            <div class="product-img">
                              <img src="{{ item.product.image.url }}" width="80" class="img-responsive">
                              <div class="discount">{{ item.product.discount }}% OFF</div>
                            </div>
                            <div class="product-info">
                              <div class="title">
                                <strong>{{ item.product.name }}</strong>
                              </div>
                              <div class="desc">
                                {{ item.product.description|truncatechars:120 }}
                              </div>
                            </div>
                          </td>

                          <td class="text-center">
                            {% if item.product.is_discounted %}
                              <del>${{ item.product.price|floatformat:2 }}</del><br>
                              ${{ item.price|floatformat:2 }}
                            {% else %}
                              ${{ item.price|floatformat:2 }}
                            {% endif %}
                          </td>

                          <td class="text-center">
                                {{ item.qty }}
                          </td>

                          <td class="text-center">
                              ${{ item.total|floatformat:2 }}
                          </td>
                      </tr>
                      {% endfor %}

                      <tr>
                        <td class="cart-summary" colspan="4">
                          <div class="summary-container">
                            <div class="summary-row">
                                <div class="field">Cart Subtotal</div>
                                <div class="value">${{ totals.subtotal|floatformat:2 }}</div>
                            </div>
                            <div class="summary-row text-danger">
                                <div class="field">Discount</div>
                                <div class="value">${{ totals.discount|floatformat:2 }}</div>
                            </div>
                            <div class="summary-row total">
                                <div class="field">Total</div>
                                <div class="value">${{ totals.total|floatformat:2 }}</div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                
                  <div class="summary-container">
                    <h3>
                      <div class="summary-row">
                          <div class="field">Cart Total</div>
                          <div class="value">${{ totals.total|floatformat:2 }}</div>
                      </div>
                    </h3>
                  </div>

                </div>
              </div>
              <!-- END checkout-body -->
              <!-- BEGIN checkout-footer -->
              <div class="checkout-footer">
                <a href="{% url 'cart_summary' %}" class="btn btn-white btn-lg pull-left"
                  >Update Items</a>
                {% comment %} <a href="{% url 'checkout_info' %}" class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10"
                >checkout</a> {% endcomment %}
                <a href="{% url 'checkout_info' %}" class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10">Checkout</a>
              </div>
              <!-- END checkout-footer -->
          </div>
          <!-- END checkout -->
        </div>
        <!-- END container -->
      </div>
      <!-- END #checkout-cart -->
{% endblock content %}
     